<table border="1" cellpadding="0" cellspacing="0"  id="table">
    <tr><td>MAIL</td><td>ASUNTO</td><td>CONTENIDO</td></tr>
        <?php foreach ($tab as $indexDB) {?>
            <tr>
            <td><?php echo $indexDB['mail']?></td>
            <td><?php echo $indexDB['asunto']?></td>
            <td><?php echo $indexDB['contenido']?></td>
            </tr>
        <?php }?>
</table>
