
<!DOCTYPE html>
<html>
    <head>
        <title>test.phalcon</title>
    </head>
    <body>
    <a href="test.phalcon"><p><h1>TEST.PHALCON</h1></p></a>
        <?php echo $this->getContent(); ?>
    </body>
</html>