<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jscript.js"></script>
<form>
<p>
    <?php echo $form->getLabel('mail'); ?>
    <?php echo $form->render('mail');?>
</p><p>
    <?php echo $form->getLabel('asunto'); 
    echo $form->render('asunto');?>
</p><p>
    <?php echo $form->getLabel('contenido');
    echo $form->render('contenido', array());?>
</p><p>
    <?php echo $form->render('submit');?>
</p>
</form>
